<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    <listener>
        <listener-class>it.halfone.coffix.servlet.listener.CoffixContextListener</listener-class>
    </listener>
        
    <filter>
        <filter-name>UserAgentFilter</filter-name>
        <filter-class>it.halfone.coffix.filter.UserAgentFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserAgentFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>it.halfone.coffix.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/groupOverview</url-pattern>
        <url-pattern>/createGroup</url-pattern>
        <url-pattern>/manageGroup</url-pattern>
        <url-pattern>/inviteUser</url-pattern>
        <url-pattern>/manageInvitation</url-pattern>
        <url-pattern>/chooseOfferer</url-pattern>
        <url-pattern>/chooseOffereds</url-pattern>
        <url-pattern>/createCoffer</url-pattern>
        <url-pattern>/confirmCoffer</url-pattern>
        <url-pattern>/registerCoffer</url-pattern>
        <url-pattern>/changePassword</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    
    <filter>
        <filter-name>UnauthenticationFilter</filter-name>
        <filter-class>it.halfone.coffix.filter.UnauthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UnauthenticationFilter</filter-name>
        <url-pattern>/login</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    
    <filter>
        <filter-name>GroupFilter</filter-name>
        <filter-class>it.halfone.coffix.filter.GroupFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GroupFilter</filter-name>
        <url-pattern>/groupOverview</url-pattern>
        <url-pattern>/chooseOfferer</url-pattern>
        <url-pattern>/manageGroup</url-pattern>
        <url-pattern>/inviteUser</url-pattern>
        <url-pattern>/manageInvitation</url-pattern>
        <url-pattern>/chooseOffereds</url-pattern>
        <url-pattern>/createCoffer</url-pattern>
        <url-pattern>/confirmCoffer</url-pattern>
        <url-pattern>/registerCoffer</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    
    
    
    
    <servlet>
		<servlet-name>LoginPage</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.TestLoginPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginPage</servlet-name>
		<url-pattern>/loginPage</url-pattern>
	</servlet-mapping>
	 <servlet>
		<servlet-name>RegistrationPage</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.RegistrationPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrationPage</servlet-name>
		<url-pattern>/registrationPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HomePage</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.TestHomePageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomePage</servlet-name>
		<url-pattern>/homePage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GroupOverviewPage</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.GroupOverviewPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GroupOverviewPage</servlet-name>
		<url-pattern>/groupOverviewPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManageGroupPage</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.ManageGroupPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageGroupPage</servlet-name>
		<url-pattern>/manageGroupPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChooseOffererPage</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.ChooseOffererPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChooseOffererPage</servlet-name>
		<url-pattern>/chooseOffererPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChooseOfferedsPage</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.ChooseOfferedsPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChooseOfferedsPage</servlet-name>
		<url-pattern>/chooseOfferedsPage</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>LoginService</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.TestLoginService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginService</servlet-name>
		<url-pattern>/loginService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegistrationService</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.RegistrationService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrationService</servlet-name>
		<url-pattern>/registrationService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManageInvitationService</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.ManageInvitationService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageInvitationService</servlet-name>
		<url-pattern>/manageInvitationService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateGroupService</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.CreateGroupService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateGroupService</servlet-name>
		<url-pattern>/createGroupService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangePasswordService</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.ChangePasswordService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePasswordService</servlet-name>
		<url-pattern>/changePasswordService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConfirmCofferService</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.ConfirmCofferService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfirmCofferService</servlet-name>
		<url-pattern>/confirmCofferService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterCofferService</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.RegisterCofferService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterCofferService</servlet-name>
		<url-pattern>/registerCofferService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateCofferService</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.CreateCofferService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateCofferService</servlet-name>
		<url-pattern>/createCofferService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InviteUserService</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.InviteUserService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InviteUserService</servlet-name>
		<url-pattern>/inviteUserService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutService</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.LogoutService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutService</servlet-name>
		<url-pattern>/logoutService</url-pattern>
	</servlet-mapping>
	
	
	
    <servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.ChangePasswordServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/changePassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GroupOverview</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.GroupOverviewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GroupOverview</servlet-name>
		<url-pattern>/groupOverview</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManageGroup</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.ManageGroupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageGroup</servlet-name>
		<url-pattern>/manageGroup</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChooseOfferer</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.ChooseOffererServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChooseOfferer</servlet-name>
		<url-pattern>/chooseOfferer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChooseOffereds</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.ChooseOfferedsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChooseOffereds</servlet-name>
		<url-pattern>/chooseOffereds</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateCoffer</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.CreateCofferServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateCoffer</servlet-name>
		<url-pattern>/createCoffer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConfirmCoffer</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.ConfirmCofferServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfirmCoffer</servlet-name>
		<url-pattern>/confirmCoffer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterCoffer</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.RegisterCofferServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterCoffer</servlet-name>
		<url-pattern>/registerCoffer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Registration</servlet-name>
		<servlet-class>it.halfone.coffix.servlet.RegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	<servlet>
        <servlet-name>CreateGroup</servlet-name>
        <servlet-class>it.halfone.coffix.servlet.CreateGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateGroup</servlet-name>
        <url-pattern>/createGroup</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>InviteUser</servlet-name>
        <servlet-class>it.halfone.coffix.servlet.InviteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InviteUser</servlet-name>
        <url-pattern>/inviteUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageInvitation</servlet-name>
        <servlet-class>it.halfone.coffix.servlet.ManageInvitationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageInvitation</servlet-name>
        <url-pattern>/manageInvitation</url-pattern>
    </servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>views/test/_.jsp</welcome-file>
	</welcome-file-list>
</web-app>
